<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wizards</title>
</head>
<body>
    <h1>Wizards:</h1>
    {% for wizard in wizards %}
        <a href="/viewwizard/{{wizard.id}}">{{wizard.name}}</a>
        <a href="/updatewizard/{{wizard.id}}">Update</a>
        <a href="/deletewizard/{{wizard.id}}">Delete</a>
        <br>
    {% endfor %}
    <a href="/newwizard">Add a new Wizard</a>
</body>
</html>