<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Wizard</title>
</head>
<body>
    <h1>Create a Wizard</h1>
    <form action="/createwizard" method="POST">
        <p>Name</p>
        <input type="text" name="name">
        <br>
        <p>Type</p>
        <input type="text" name="type">
        <br>
        <p>Power</p>
        <input type="text" name="power">
        <br>
        <button type="submit">Create</button>
    </form>

</body>
</html>